.page {
    overflow-y: hidden;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
}

.back {
    z-index: 2;
}

.header .back:active {
    opacity: 0.5;
}

.header .title {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.content {
    margin-top: 68px;
    padding: 0 20px;
    overflow-y: auto;
}

.content-header {
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
}

.content-header .content-header-title {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 700;
}

.content-header-body {
    position: relative;
    margin-top: 10px;
}

.content-header-body .avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
}

.content-header-body .name {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin-left: 20px;
}

.content-header-footer {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-header-footer .item {
    margin-left: 10px;

}

.content-header-footer .item:first-of-type {
    margin: 0;
}

.content-body {
    width: 100%;
    position: relative;
}

.content-body img {
    width: 100%;
    height: 350px;
}

