.topic-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

 .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    background: rgba(0, 0, 255,0.3);
    color: #fff;
    line-height: 48px;
    z-index:9999;
}

.topic-page .topic-main {
    margin-top: 100px;
}

.topic-page .tab-bar {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 255,0.4);
    height: 52px;
    line-height: 28px;
}

.topic-page .tab-bar .tab-item {
    flex: 1;
    justify-items: center;
    color: #fff;
    text-align: center;
    margin: 0 20px;
}

.on {
    color: green;
    border-bottom: 2px solid #ffffff;
}

.topic-page li {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #ececec;
    padding: 25px 20px 5px 20px;
}

.topic-page li .item-header {
    width: 100%;
    /*position: relative;*/
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.topic-page .item-header .sub-header-item {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.topic-page .item-header img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ececec;
}

.topic-page .item-header label {
    margin-left: 20px;
    display: inline-block;
    color: rgba(0, 0, 255, 0.4);
}

.topic-page .item-content {
    /*position: relative;*/
    font-size: 16px;
    line-height: 18px;
}

.topic-page .item-content .item-content-title {
    margin-top: 10px;
}

.topic-page .item-content .item-content-body {
    margin-top: 10px;
    font-size: 14px;
    color: rgba(0, 0, 255, 0.4);
}